body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1489px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:736px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:1361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  position:absolute;
  left:224px;
  top:102px;
  width:743px;
  height:1361px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:672px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1682 {
  position:absolute;
  left:23px;
  top:12px;
  width:135px;
  height:46px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1684 {
  position:absolute;
  left:367px;
  top:28px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1686 {
  position:absolute;
  left:432px;
  top:28px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1688 {
  position:absolute;
  left:541px;
  top:28px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1689 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1690 {
  position:absolute;
  left:641px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1691 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1692 {
  position:absolute;
  left:743px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1694 {
  position:absolute;
  left:712px;
  top:9px;
  width:212px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1696 {
  position:absolute;
  left:261px;
  top:178px;
  width:241px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1698 {
  position:absolute;
  left:0px;
  top:66px;
  width:978px;
  height:80px;
  font-size:16px;
  color:#999999;
}
#u1699 {
  position:absolute;
  left:2px;
  top:32px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
}
#u1700 {
  position:absolute;
  left:496px;
  top:95px;
  width:458px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 204, 153, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1702 {
  position:absolute;
  left:14px;
  top:156px;
  width:201px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1703 {
  position:absolute;
  left:2px;
  top:32px;
  width:197px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1704 {
  position:absolute;
  left:14px;
  top:323px;
  width:200px;
  height:1px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u1706 {
  position:absolute;
  left:58px;
  top:276px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1708 {
  position:absolute;
  left:14px;
  top:396px;
  width:200px;
  height:1px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1710 {
  position:absolute;
  left:61px;
  top:349px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1712 {
  position:absolute;
  left:14px;
  top:465px;
  width:200px;
  height:1px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1714 {
  position:absolute;
  left:61px;
  top:418px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1716 {
  position:absolute;
  left:14px;
  top:531px;
  width:200px;
  height:1px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1718 {
  position:absolute;
  left:61px;
  top:484px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
}
#u1720 {
  position:absolute;
  left:28px;
  top:95px;
  width:458px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1721 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1722 {
  position:absolute;
  left:845px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u1724 {
  position:absolute;
  left:551px;
  top:65px;
  width:80px;
  height:3px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1726 {
  position:absolute;
  left:284px;
  top:222px;
  width:669px;
  height:86px;
  text-align:left;
}
#u1727 {
  position:absolute;
  left:2px;
  top:19px;
  width:665px;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u1728 {
  position:absolute;
  left:198px;
  top:488px;
  width:7px;
  height:16px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:435px;
}
#u1730 {
  position:absolute;
  left:336px;
  top:392px;
  width:511px;
  height:435px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:210px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1732 {
  position:absolute;
  left:273px;
  top:335px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1734_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1734 {
  position:absolute;
  left:261px;
  top:335px;
  width:3px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1735 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1736 {
  position:absolute;
  left:273px;
  top:849px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1738_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1738 {
  position:absolute;
  left:261px;
  top:849px;
  width:3px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1739 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:426px;
}
#u1740 {
  position:absolute;
  left:257px;
  top:1004px;
  width:696px;
  height:426px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:205px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:162px;
}
#u1744 {
  position:absolute;
  left:0px;
  top:1489px;
  width:978px;
  height:162px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:73px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:107px;
}
#u1746 {
  position:absolute;
  left:179px;
  top:1490px;
  width:380px;
  height:107px;
}
#u1747 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1748 {
  position:absolute;
  left:220px;
  top:1543px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1749 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1750 {
  position:absolute;
  left:408px;
  top:1543px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:96px;
}
#u1752 {
  position:absolute;
  left:273px;
  top:890px;
  width:583px;
  height:96px;
}
#u1753 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  word-wrap:break-word;
}
