body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:2157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:2157px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:1070px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:2001px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:224px;
  top:156px;
  width:743px;
  height:2001px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:992px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:284px;
  top:358px;
  width:669px;
  height:282px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:133px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1223 {
  position:absolute;
  left:23px;
  top:12px;
  width:135px;
  height:46px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1225 {
  position:absolute;
  left:367px;
  top:28px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1227 {
  position:absolute;
  left:432px;
  top:28px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1229 {
  position:absolute;
  left:541px;
  top:28px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1230 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1231 {
  position:absolute;
  left:641px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1233 {
  position:absolute;
  left:743px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1235 {
  position:absolute;
  left:712px;
  top:9px;
  width:212px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1237 {
  position:absolute;
  left:261px;
  top:167px;
  width:201px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u1239 {
  position:absolute;
  left:284px;
  top:1244px;
  width:37px;
  height:33px;
  font-size:16px;
  color:#666666;
}
#u1240 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1241 {
  position:absolute;
  left:331px;
  top:1257px;
  width:449px;
  height:19px;
  font-size:16px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:130px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1243 {
  position:absolute;
  left:334px;
  top:1298px;
  width:619px;
  height:130px;
  text-align:left;
}
#u1244 {
  position:absolute;
  left:2px;
  top:25px;
  width:615px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u1245 {
  position:absolute;
  left:284px;
  top:1643px;
  width:37px;
  height:33px;
  font-size:16px;
  color:#666666;
}
#u1246 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1247 {
  position:absolute;
  left:331px;
  top:1656px;
  width:510px;
  height:19px;
  font-size:16px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  white-space:nowrap;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1249 {
  position:absolute;
  left:334px;
  top:1697px;
  width:619px;
  height:86px;
  text-align:left;
}
#u1250 {
  position:absolute;
  left:2px;
  top:19px;
  width:615px;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 204, 153, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1251 {
  position:absolute;
  left:14px;
  top:156px;
  width:201px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1252 {
  position:absolute;
  left:2px;
  top:32px;
  width:197px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1253 {
  position:absolute;
  left:14px;
  top:323px;
  width:200px;
  height:1px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u1255 {
  position:absolute;
  left:58px;
  top:276px;
  width:116px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1257 {
  position:absolute;
  left:14px;
  top:396px;
  width:200px;
  height:1px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1259 {
  position:absolute;
  left:61px;
  top:349px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1261 {
  position:absolute;
  left:14px;
  top:465px;
  width:200px;
  height:1px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1263 {
  position:absolute;
  left:61px;
  top:418px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1265 {
  position:absolute;
  left:14px;
  top:536px;
  width:200px;
  height:1px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1267 {
  position:absolute;
  left:61px;
  top:489px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1269 {
  position:absolute;
  left:845px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u1271 {
  position:absolute;
  left:551px;
  top:65px;
  width:80px;
  height:3px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1273 {
  position:absolute;
  left:284px;
  top:201px;
  width:669px;
  height:86px;
  text-align:left;
}
#u1274 {
  position:absolute;
  left:2px;
  top:11px;
  width:665px;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1275 {
  position:absolute;
  left:299px;
  top:2051px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1277_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1277 {
  position:absolute;
  left:287px;
  top:2051px;
  width:3px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1278 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1279 {
  position:absolute;
  left:583px;
  top:432px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1281 {
  position:absolute;
  left:693px;
  top:418px;
  width:116px;
  height:33px;
  color:#666666;
}
#u1282 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1283 {
  position:absolute;
  left:443px;
  top:443px;
  width:113px;
  height:33px;
  color:#666666;
}
#u1284 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1285 {
  position:absolute;
  left:296px;
  top:326px;
  width:307px;
  height:22px;
  font-size:18px;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u1287_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1287 {
  position:absolute;
  left:284px;
  top:326px;
  width:3px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1288 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:284px;
  top:698px;
  width:676px;
  height:508px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:246px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1291 {
  position:absolute;
  left:296px;
  top:666px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1293_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1293 {
  position:absolute;
  left:284px;
  top:666px;
  width:3px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1294 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u1295 {
  position:absolute;
  left:284px;
  top:1451px;
  width:37px;
  height:33px;
  font-size:16px;
  color:#666666;
}
#u1296 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1297 {
  position:absolute;
  left:331px;
  top:1464px;
  width:414px;
  height:19px;
  font-size:16px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1299 {
  position:absolute;
  left:334px;
  top:1505px;
  width:619px;
  height:86px;
  text-align:left;
}
#u1300 {
  position:absolute;
  left:2px;
  top:19px;
  width:615px;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1301 {
  position:absolute;
  left:683px;
  top:532px;
  width:121px;
  height:33px;
  color:#666666;
}
#u1302 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u1303 {
  position:absolute;
  left:200px;
  top:351px;
  width:7px;
  height:16px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1305 {
  position:absolute;
  left:398px;
  top:520px;
  width:158px;
  height:33px;
  color:#666666;
}
#u1306 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1307 {
  position:absolute;
  left:765px;
  top:478px;
  width:116px;
  height:33px;
  color:#666666;
}
#u1308 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:162px;
}
#u1311 {
  position:absolute;
  left:-11px;
  top:2157px;
  width:989px;
  height:162px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:73px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:107px;
}
#u1313 {
  position:absolute;
  left:170px;
  top:2158px;
  width:384px;
  height:107px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:46px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1315 {
  position:absolute;
  left:211px;
  top:2211px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1317 {
  position:absolute;
  left:402px;
  top:2211px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1319 {
  position:absolute;
  left:443px;
  top:580px;
  width:183px;
  height:33px;
  color:#666666;
}
#u1320 {
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:334px;
  top:2099px;
  width:147px;
  height:35px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:296px;
  top:714px;
  width:650px;
  height:101px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:42px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u1325 {
  position:absolute;
  left:536px;
  top:726px;
  width:197px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:112px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1327 {
  position:absolute;
  left:342px;
  top:769px;
  width:127px;
  height:35px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:112px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1329 {
  position:absolute;
  left:564px;
  top:769px;
  width:127px;
  height:36px;
  color:#FFFFFF;
}
#u1330 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:112px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1331 {
  position:absolute;
  left:791px;
  top:769px;
  width:127px;
  height:35px;
  color:#FFFFFF;
}
#u1332 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:263px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:342px;
  top:909px;
  width:127px;
  height:263px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:124px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1335 {
  position:absolute;
  left:365px;
  top:924px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:223px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:568px;
  top:949px;
  width:127px;
  height:223px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:104px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1339 {
  position:absolute;
  left:611px;
  top:965px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:280px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  position:absolute;
  left:791px;
  top:909px;
  width:127px;
  height:280px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:132px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1343 {
  position:absolute;
  left:840px;
  top:924px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1345 {
  position:absolute;
  left:406px;
  top:804px;
  width:0px;
  height:0px;
}
#u1345_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u1345_seg1 {
  position:absolute;
  left:-10px;
  top:92px;
  width:20px;
  height:20px;
}
#u1346 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347 {
  position:absolute;
  left:628px;
  top:805px;
  width:0px;
  height:0px;
}
#u1347_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1347_seg1 {
  position:absolute;
  left:-208px;
  top:31px;
  width:212px;
  height:8px;
}
#u1347_seg2 {
  position:absolute;
  left:-208px;
  top:31px;
  width:8px;
  height:72px;
}
#u1347_seg3 {
  position:absolute;
  left:-214px;
  top:90px;
  width:20px;
  height:20px;
}
#u1348 {
  position:absolute;
  left:-168px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  position:absolute;
  left:331px;
  top:845px;
  width:57px;
  height:16px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  position:absolute;
  left:500px;
  top:845px;
  width:57px;
  height:16px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:109px;
  height:21px;
}
#u1353p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:101px;
  height:1px;
}
#u1353p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:111px;
  height:21px;
}
#u1353p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1353p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1353p002 {
  position:absolute;
  left:85px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1353p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1353.compound {
  width:0px;
  height:0px;
}
#u1353 {
  position:absolute;
  left:469px;
  top:1116px;
  width:99px;
  height:1px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1355 {
  position:absolute;
  left:485px;
  top:1090px;
  width:57px;
  height:16px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:109px;
  height:21px;
}
#u1357p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:101px;
  height:1px;
}
#u1357p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:111px;
  height:21px;
}
#u1357p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1357p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1357p002 {
  position:absolute;
  left:85px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1357p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1357.compound {
  width:0px;
  height:0px;
}
#u1357 {
  position:absolute;
  left:695px;
  top:1050px;
  width:99px;
  height:1px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:716px;
  top:1017px;
  width:57px;
  height:16px;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:2px;
}
#u1362 {
  position:absolute;
  left:482px;
  top:886px;
  width:244px;
  height:1px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1364 {
  position:absolute;
  left:482px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1366 {
  position:absolute;
  left:517px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1367 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1368 {
  position:absolute;
  left:552px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1370 {
  position:absolute;
  left:587px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1371 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1372 {
  position:absolute;
  left:622px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1373 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1374 {
  position:absolute;
  left:657px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1375 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1376 {
  position:absolute;
  left:701px;
  top:874px;
  width:25px;
  height:25px;
  font-size:9px;
  color:#FFFFFF;
}
#u1377 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u1378 {
  position:absolute;
  left:726px;
  top:887px;
  width:0px;
  height:0px;
}
#u1378_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u1378_seg1 {
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:134px;
}
#u1378_seg2 {
  position:absolute;
  left:9px;
  top:117px;
  width:20px;
  height:20px;
}
#u1379 {
  position:absolute;
  left:-31px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
}
#u1380 {
  position:absolute;
  left:586px;
  top:993px;
  width:37px;
  height:40px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
}
#u1382 {
  position:absolute;
  left:633px;
  top:993px;
  width:37px;
  height:40px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:2px;
}
#u1384 {
  position:absolute;
  left:568px;
  top:1039px;
  width:127px;
  height:1px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:-8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1386 {
  position:absolute;
  left:586px;
  top:1050px;
  width:99px;
  height:32px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1388 {
  position:absolute;
  left:586px;
  top:1088px;
  width:99px;
  height:32px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u1390 {
  position:absolute;
  left:586px;
  top:1130px;
  width:99px;
  height:32px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:109px;
  height:21px;
}
#u1392p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:101px;
  height:1px;
}
#u1392p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:111px;
  height:21px;
}
#u1392p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1392p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1392p002 {
  position:absolute;
  left:85px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1392p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1392.compound {
  width:0px;
  height:0px;
}
#u1392 {
  position:absolute;
  left:469px;
  top:998px;
  width:99px;
  height:1px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1394 {
  position:absolute;
  left:485px;
  top:972px;
  width:57px;
  height:16px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1396 {
  position:absolute;
  left:855px;
  top:804px;
  width:0px;
  height:0px;
}
#u1396_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u1396_seg1 {
  position:absolute;
  left:-10px;
  top:92px;
  width:20px;
  height:20px;
}
#u1397 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:861px;
  top:833px;
  width:92px;
  height:32px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:352px;
  top:972px;
  width:107px;
  height:26px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:352px;
  top:1008px;
  width:107px;
  height:26px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:352px;
  top:1044px;
  width:107px;
  height:26px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  position:absolute;
  left:352px;
  top:1098px;
  width:107px;
  height:26px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  position:absolute;
  left:347px;
  top:1134px;
  width:117px;
  height:26px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:5px;
  width:113px;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  position:absolute;
  left:801px;
  top:992px;
  width:107px;
  height:38px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:3px;
  width:103px;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:801px;
  top:1039px;
  width:107px;
  height:40px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:801px;
  top:1089px;
  width:107px;
  height:26px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  position:absolute;
  left:801px;
  top:1125px;
  width:107px;
  height:44px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:14px;
  width:103px;
  word-wrap:break-word;
}
#u1418 {
  position:absolute;
  left:482px;
  top:887px;
  width:0px;
  height:0px;
}
#u1418_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u1418_seg1 {
  position:absolute;
  left:-37px;
  top:-38px;
  width:8px;
  height:42px;
}
#u1418_seg2 {
  position:absolute;
  left:-37px;
  top:-38px;
  width:55px;
  height:8px;
}
#u1419 {
  position:absolute;
  left:-83px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
}
#u1420 {
  position:absolute;
  left:842px;
  top:952px;
  width:37px;
  height:40px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1422 {
  position:absolute;
  left:702px;
  top:580px;
  width:183px;
  height:33px;
  color:#666666;
}
#u1423 {
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1424 {
  position:absolute;
  left:380px;
  top:389px;
  width:219px;
  height:33px;
  color:#666666;
}
#u1425 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u1426 {
  position:absolute;
  left:284px;
  top:1834px;
  width:37px;
  height:33px;
  font-size:16px;
  color:#666666;
}
#u1427 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1428 {
  position:absolute;
  left:331px;
  top:1847px;
  width:350px;
  height:19px;
  font-size:16px;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1430 {
  position:absolute;
  left:334px;
  top:1888px;
  width:619px;
  height:86px;
  text-align:left;
}
#u1431 {
  position:absolute;
  left:2px;
  top:19px;
  width:615px;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1433 {
  position:absolute;
  left:0px;
  top:69px;
  width:978px;
  height:80px;
  font-size:16px;
  color:#999999;
}
#u1434 {
  position:absolute;
  left:2px;
  top:32px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
}
#u1435 {
  position:absolute;
  left:496px;
  top:98px;
  width:458px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
}
#u1437 {
  position:absolute;
  left:28px;
  top:98px;
  width:458px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
