body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1448px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:716px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:1346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  position:absolute;
  left:224px;
  top:102px;
  width:743px;
  height:1346px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:665px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1656 {
  position:absolute;
  left:23px;
  top:12px;
  width:135px;
  height:46px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1658 {
  position:absolute;
  left:367px;
  top:28px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1660 {
  position:absolute;
  left:432px;
  top:28px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1662 {
  position:absolute;
  left:541px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1664 {
  position:absolute;
  left:641px;
  top:28px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1665 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1666 {
  position:absolute;
  left:743px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1668 {
  position:absolute;
  left:712px;
  top:9px;
  width:212px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1670 {
  position:absolute;
  left:301px;
  top:203px;
  width:261px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1672 {
  position:absolute;
  left:0px;
  top:66px;
  width:978px;
  height:80px;
  font-size:16px;
  color:#999999;
}
#u1673 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  word-wrap:break-word;
}
#u1674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 204, 153, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1674 {
  position:absolute;
  left:14px;
  top:156px;
  width:201px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1675 {
  position:absolute;
  left:2px;
  top:32px;
  width:197px;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1676 {
  position:absolute;
  left:14px;
  top:323px;
  width:200px;
  height:1px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1678 {
  position:absolute;
  left:61px;
  top:276px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1680 {
  position:absolute;
  left:14px;
  top:396px;
  width:200px;
  height:1px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1682 {
  position:absolute;
  left:61px;
  top:349px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1684 {
  position:absolute;
  left:845px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u1686 {
  position:absolute;
  left:652px;
  top:65px;
  width:80px;
  height:3px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u1688 {
  position:absolute;
  left:198px;
  top:350px;
  width:7px;
  height:16px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:162px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:1448px;
  width:978px;
  height:162px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:73px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:107px;
}
#u1694 {
  position:absolute;
  left:179px;
  top:1449px;
  width:380px;
  height:107px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1696 {
  position:absolute;
  left:220px;
  top:1502px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1698 {
  position:absolute;
  left:408px;
  top:1502px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1700 {
  position:absolute;
  left:237px;
  top:184px;
  width:60px;
  height:60px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1702 {
  position:absolute;
  left:301px;
  top:389px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1704_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1704 {
  position:absolute;
  left:290px;
  top:389px;
  width:3px;
  height:22px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:712px;
  height:5px;
}
#u1706 {
  position:absolute;
  left:237px;
  top:1326px;
  width:709px;
  height:2px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:-7px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1708 {
  position:absolute;
  left:485px;
  top:1315px;
  width:221px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1710 {
  position:absolute;
  left:252px;
  top:1406px;
  width:132px;
  height:32px;
  text-align:center;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1712 {
  position:absolute;
  left:458px;
  top:1415px;
  width:132px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1714 {
  position:absolute;
  left:288px;
  top:1336px;
  width:60px;
  height:60px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u1716 {
  position:absolute;
  left:408px;
  top:1348px;
  width:218px;
  height:36px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:859px;
}
#u1718 {
  position:absolute;
  left:316px;
  top:421px;
  width:1px;
  height:858px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:421px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1720 {
  position:absolute;
  left:307px;
  top:455px;
  width:20px;
  height:20px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1722 {
  position:absolute;
  left:307px;
  top:552px;
  width:20px;
  height:20px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1724 {
  position:absolute;
  left:307px;
  top:856px;
  width:20px;
  height:20px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1726 {
  position:absolute;
  left:307px;
  top:1078px;
  width:20px;
  height:20px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1728 {
  position:absolute;
  left:301px;
  top:241px;
  width:645px;
  height:92px;
  text-align:left;
}
#u1729 {
  position:absolute;
  left:2px;
  top:22px;
  width:641px;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:19px;
}
#u1730 {
  position:absolute;
  left:353px;
  top:457px;
  width:485px;
  height:19px;
  font-size:16px;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1732 {
  position:absolute;
  left:353px;
  top:486px;
  width:563px;
  height:32px;
  color:#999999;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u1734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:19px;
}
#u1734 {
  position:absolute;
  left:353px;
  top:556px;
  width:551px;
  height:19px;
  font-size:16px;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  white-space:nowrap;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:48px;
}
#u1736 {
  position:absolute;
  left:353px;
  top:591px;
  width:571px;
  height:48px;
  color:#999999;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:19px;
}
#u1738 {
  position:absolute;
  left:353px;
  top:857px;
  width:385px;
  height:19px;
  font-size:16px;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:82px;
}
#u1740 {
  position:absolute;
  left:353px;
  top:943px;
  width:120px;
  height:82px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:33px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1742 {
  position:absolute;
  left:353px;
  top:894px;
  width:571px;
  height:32px;
  color:#999999;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:82px;
}
#u1744 {
  position:absolute;
  left:522px;
  top:943px;
  width:138px;
  height:82px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:33px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:19px;
}
#u1746 {
  position:absolute;
  left:353px;
  top:1076px;
  width:369px;
  height:19px;
  font-size:16px;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:186px;
}
#u1748 {
  position:absolute;
  left:358px;
  top:1119px;
  width:395px;
  height:186px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:85px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:158px;
}
#u1750 {
  position:absolute;
  left:353px;
  top:650px;
  width:188px;
  height:158px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:71px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
