body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1636px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:810px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u2036 {
  position:absolute;
  left:23px;
  top:12px;
  width:135px;
  height:46px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2038 {
  position:absolute;
  left:367px;
  top:28px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2040 {
  position:absolute;
  left:432px;
  top:28px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2042 {
  position:absolute;
  left:541px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u2044 {
  position:absolute;
  left:641px;
  top:28px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u2045 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2046 {
  position:absolute;
  left:743px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u2048 {
  position:absolute;
  left:712px;
  top:9px;
  width:212px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2050 {
  position:absolute;
  left:845px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u2052 {
  position:absolute;
  left:652px;
  top:65px;
  width:80px;
  height:3px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:162px;
}
#u2056 {
  position:absolute;
  left:-3px;
  top:1636px;
  width:978px;
  height:162px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:73px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:107px;
}
#u2058 {
  position:absolute;
  left:176px;
  top:1637px;
  width:380px;
  height:107px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2060 {
  position:absolute;
  left:217px;
  top:1690px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2062 {
  position:absolute;
  left:405px;
  top:1690px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:260px;
}
#u2064 {
  position:absolute;
  left:68px;
  top:404px;
  width:878px;
  height:260px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:353px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  position:absolute;
  left:4px;
  top:649px;
  width:971px;
  height:353px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:168px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2068 {
  position:absolute;
  left:433px;
  top:658px;
  width:119px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:134px;
}
#u2070 {
  position:absolute;
  left:27px;
  top:835px;
  width:1px;
  height:133px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2072 {
  position:absolute;
  left:38px;
  top:928px;
  width:119px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:184px;
}
#u2074 {
  position:absolute;
  left:167px;
  top:785px;
  width:1px;
  height:183px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:84px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2076 {
  position:absolute;
  left:178px;
  top:928px;
  width:119px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:216px;
}
#u2078 {
  position:absolute;
  left:307px;
  top:753px;
  width:1px;
  height:215px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:100px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2080 {
  position:absolute;
  left:318px;
  top:928px;
  width:119px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:216px;
}
#u2082 {
  position:absolute;
  left:519px;
  top:753px;
  width:1px;
  height:215px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:100px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:530px;
  top:928px;
  width:119px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:216px;
}
#u2086 {
  position:absolute;
  left:751px;
  top:753px;
  width:1px;
  height:215px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:100px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2088 {
  position:absolute;
  left:762px;
  top:928px;
  width:119px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2090 {
  position:absolute;
  left:38px;
  top:818px;
  width:119px;
  height:96px;
  font-size:12px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2092 {
  position:absolute;
  left:178px;
  top:832px;
  width:119px;
  height:96px;
  font-size:12px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2094 {
  position:absolute;
  left:318px;
  top:729px;
  width:164px;
  height:165px;
  font-size:12px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2096 {
  position:absolute;
  left:530px;
  top:703px;
  width:211px;
  height:214px;
  font-size:12px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2098 {
  position:absolute;
  left:762px;
  top:724px;
  width:160px;
  height:174px;
  font-size:12px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:532px;
}
#u2100 {
  position:absolute;
  left:38px;
  top:1094px;
  width:860px;
  height:532px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:258px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2102 {
  position:absolute;
  left:405px;
  top:1057px;
  width:119px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:306px;
}
#u2104 {
  position:absolute;
  left:-3px;
  top:76px;
  width:978px;
  height:306px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:145px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
