body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:1259px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:622px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:1147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  position:absolute;
  left:224px;
  top:102px;
  width:743px;
  height:1147px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:566px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1644 {
  position:absolute;
  left:23px;
  top:12px;
  width:135px;
  height:46px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1646 {
  position:absolute;
  left:367px;
  top:28px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1648 {
  position:absolute;
  left:432px;
  top:28px;
  width:109px;
  height:38px;
  font-size:16px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1650 {
  position:absolute;
  left:541px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1652 {
  position:absolute;
  left:641px;
  top:28px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u1653 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1654 {
  position:absolute;
  left:743px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1656 {
  position:absolute;
  left:712px;
  top:9px;
  width:212px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1658 {
  position:absolute;
  left:301px;
  top:203px;
  width:281px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1660 {
  position:absolute;
  left:0px;
  top:66px;
  width:978px;
  height:80px;
  font-size:16px;
  color:#999999;
}
#u1661 {
  position:absolute;
  left:2px;
  top:32px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:89px;
  background:inherit;
  background-color:rgba(0, 204, 153, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1662 {
  position:absolute;
  left:14px;
  top:156px;
  width:201px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u1663 {
  position:absolute;
  left:2px;
  top:32px;
  width:197px;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1664 {
  position:absolute;
  left:14px;
  top:323px;
  width:200px;
  height:1px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1666 {
  position:absolute;
  left:61px;
  top:276px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1668 {
  position:absolute;
  left:14px;
  top:396px;
  width:200px;
  height:1px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u1670 {
  position:absolute;
  left:61px;
  top:349px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1672 {
  position:absolute;
  left:845px;
  top:28px;
  width:101px;
  height:38px;
  font-size:16px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u1674 {
  position:absolute;
  left:650px;
  top:65px;
  width:80px;
  height:3px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u1676 {
  position:absolute;
  left:198px;
  top:280px;
  width:7px;
  height:16px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:162px;
}
#u1680 {
  position:absolute;
  left:0px;
  top:1259px;
  width:978px;
  height:162px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:73px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:107px;
}
#u1682 {
  position:absolute;
  left:179px;
  top:1260px;
  width:380px;
  height:107px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1684 {
  position:absolute;
  left:220px;
  top:1313px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1686 {
  position:absolute;
  left:408px;
  top:1313px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1688 {
  position:absolute;
  left:237px;
  top:184px;
  width:60px;
  height:60px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:80px;
}
#u1690 {
  position:absolute;
  left:301px;
  top:248px;
  width:635px;
  height:80px;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  position:absolute;
  left:49px;
  top:102px;
  width:479px;
  height:16px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1694 {
  position:absolute;
  left:301px;
  top:360px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1696_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:25px;
}
#u1696 {
  position:absolute;
  left:290px;
  top:360px;
  width:3px;
  height:22px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:449px;
}
#u1698 {
  position:absolute;
  left:316px;
  top:392px;
  width:1px;
  height:448px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:216px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1700 {
  position:absolute;
  left:307px;
  top:426px;
  width:20px;
  height:20px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:38px;
}
#u1702 {
  position:absolute;
  left:342px;
  top:428px;
  width:594px;
  height:38px;
  font-size:16px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:712px;
  height:5px;
}
#u1704 {
  position:absolute;
  left:237px;
  top:869px;
  width:709px;
  height:2px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:-7px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1706 {
  position:absolute;
  left:485px;
  top:858px;
  width:221px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1708 {
  position:absolute;
  left:307px;
  top:525px;
  width:20px;
  height:20px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1710 {
  position:absolute;
  left:307px;
  top:613px;
  width:20px;
  height:20px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1712 {
  position:absolute;
  left:307px;
  top:706px;
  width:20px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:309px;
}
#u1714 {
  position:absolute;
  left:240px;
  top:909px;
  width:709px;
  height:309px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:146px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:19px;
}
#u1716 {
  position:absolute;
  left:342px;
  top:527px;
  width:604px;
  height:19px;
  font-size:16px;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:32px;
}
#u1718 {
  position:absolute;
  left:342px;
  top:553px;
  width:546px;
  height:32px;
  color:#999999;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u1720 {
  position:absolute;
  left:342px;
  top:613px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u1721 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:32px;
}
#u1722 {
  position:absolute;
  left:342px;
  top:639px;
  width:546px;
  height:32px;
  color:#999999;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
}
#u1724 {
  position:absolute;
  left:342px;
  top:706px;
  width:241px;
  height:19px;
  font-size:16px;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1726 {
  position:absolute;
  left:342px;
  top:732px;
  width:546px;
  height:32px;
  color:#999999;
}
#u1727 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:32px;
}
#u1728 {
  position:absolute;
  left:339px;
  top:474px;
  width:549px;
  height:32px;
  color:#999999;
}
#u1729 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:1030px;
  top:1028px;
  width:351px;
  height:32px;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u1732 {
  position:absolute;
  left:974px;
  top:862px;
  width:0px;
  height:0px;
}
#u1732_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u1732_seg1 {
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:380px;
}
#u1732_seg2 {
  position:absolute;
  left:-6px;
  top:368px;
  width:52px;
  height:8px;
}
#u1732_seg3 {
  position:absolute;
  left:-6px;
  top:368px;
  width:8px;
  height:6px;
}
#u1733 {
  position:absolute;
  left:-8px;
  top:180px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
